.about-child img{
    height: 250px;
    width: 250px;
}
.about-child{
    background:linear-gradient(to right,#5d0347,#dda169)
   
}
.video-child video{
    height: 400px;
    width: 600px;
}
.final-child{
    background:linear-gradient(to right,#5d0347,#dda169)

   
}
.video-child2 button{
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}
.final-child img{
    height: 350px;
    width: 350px;
}